@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');
/* common */

/* body */
header .container {
    width: 800px;
    margin: 0 auto;
    padding: 32px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Yuji Syuku', serif;
}
main .container {
    margin-right: auto;/* 中央寄せ */
    margin-left: auto;/* 中央寄せ */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    align-content:stretch;
    width: 500px;
    font-family: 'Yuji Syuku', serif;
    gap: 25px;
}


/* game.html */
main .panel {
    margin-right: auto;/* 中央寄せ */
    margin-left: auto;/* 中央寄せ */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    align-content:stretch;
    width: 130px;
    height: 135px;
    margin-bottom: auto;
}
.field {
    width:150px;
    height: 150px;
    padding: 0;
    margin: 0;
    /* color: #6091d3; */
    border: solid 3px #000812;/*線*/
    border-radius: 10px;/*角の丸み*/
    background-color: green;
}

.field:hover {
    background: greenyellow;
    border: 2px solid #333;
    cursor: pointer;/*カーソルをポインターに変える*/
}

img {
    width: 150px;/*幅*/
	height: 150px;/*高さ*/
	border-radius: 50%;/*角丸*/
}

.result {
    font-family: 'Yuji Syuku', serif;
    font-size: x-large;
}

/* index.html */
.startPanel {
    width:200px;
    height: 60px;
    padding: 0;
    margin: 0;
    color: black;
    border: solid 3px #000812;/*線*/
    border-radius: 10px;
    background-color: burlywood;
    font-size: x-large;
}

.startPanel:hover {
    background-color: rgb(243, 230, 212);
    border: 2px solid #333;
    cursor: pointer;/*カーソルをポインターに変える*/
}

.title {
    padding: 40px;
}
/* developers.html */
.box {
    display: inline-block;
    border: solid 5px black;
    background-color: rgb(85, 172, 85);
    font-family: 'Yuji Syuku', serif;
}

/* animation */
.fade-in {
    animation-name: fadeInAnime;
    animation-fill-mode:backwards;
    animation-duration: 1.5s;
    animation: iteration count 0;
    animation-timing-function:ease;
    animation-delay: 0.5s;
    animation-direction:normal;
}
    
@keyframes fadeInAnime{
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  } 